* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
}
.wrapper {
  max-width: 375px;
  max-height: 100vh;
  padding: 45px 38px 30px;
  font-family: Roboto;
  color: #1a1a1a;
}
.wrapper .form-btn {
  margin-bottom: 16px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  cursor: pointer;
}
.wrapper .form-btn--blue {
  background-color: rgba(59, 89, 152, 1);
}
.form-btn--orange {
  background-color: rgba(253, 140, 0, 1);
}
.wrapper a {
  color: #e70b89;
}
.wrapper__logo {
  margin-bottom: 95px;
  text-align: center;
}
.wrapper__form {
  margin-bottom: 65px;
}
.form__title {
  margin-bottom: 40px;
}

.form__title h2 {
  margin-bottom: 5px;
  font-size: 49px;
  line-height: 57px;
}
.form__title p {
  font-size: 14px;
  line-height: 16px;
}
.form-item {
  position: relative;
  margin-bottom: 20px;
}
.form-item:last-of-type {
  margin-bottom: 18px;
}
.form-item input {
  width: 100%;
  padding: 14px 24px 16px;
  border: 1px solid currentColor;
}
.form-item input::placeholder {
  color: rgba(26, 26, 26, 0.56);
}
.form-item button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}
.form__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.form__content > button {
  margin-bottom: 16px;
  padding: 16px;
  background: #e70b89;
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-transform: uppercase;
}
.form__content > a {
  align-self: flex-end;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.form__buttons {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.form__buttons > * {
  flex: 1;
}
.form__buttons button:not(:last-of-type) {
  margin-right: 20px;
}
.form__buttons button {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  padding: 16px 0px;
}
.form__buttons > p {
  flex-basis: 100%;
}
.wrapper__footer {
  font-size: 12px;
  line-height: 14px;
}
