@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/KaushanScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: currentColor;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
}
.header__logo {
  flex: 1;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.header__navigation ul {
  display: flex;
  list-style: none;
}
.header__navigation li {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1rem 1.5rem 0.5rem;
  position: relative;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header__navigation li:hover {
  color: #f4bf87;
}

.header__navigation li::after {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  opacity: 0;
  width: 0;
  height: 1px;
  transition: all 0.5s ease;
  transform: translateX(-50%);
  background-color: #f4bf87;
}
.header__navigation li:hover::after {
  opacity: 1;
  width: 100%;
}

.header__buttons button {
  margin: 0 1rem;
  text-align: center;
  background: none;
  border: none;
}

.welcome {
  background-image: url("../images/checked.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 10rem;
}
.welcome-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.welcome-content__text {
  position: relative;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
}
.welcome-content__text p {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.25;
}
h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-size: 6rem;
  line-height: 1.25;
  text-transform: uppercase;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0rem 3rem;
  position: relative;
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: all 0.3s ease;
}
h1::after {
  content: "";
  position: absolute;
  bottom: -3rem;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  opacity: 0;
  width: 0;
  height: 4px;
  background-color: currentColor;
  transition: all 0.3s ease;
}
h1:hover::after {
  opacity: 1;
  width: 10.625rem;
}

.welcome-content__link {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: uppercase;
  border: 4px solid #ffffff;
  padding: 1rem 6rem;
  margin: 8rem auto 0rem;

  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
}
.welcome-content__link:hover {
  color: #f4bf87;
  background-color: #ffffff;
}
.welcome-content__link:focus,
.welcome-content__link:active {
  color: #f4bf87;
  background-color: #ffffff;
  border-color: #f4bf87;
}

.welcome-content__block {
  width: 75rem;
  display: flex;
  list-style: none;
}

.welcome-content__block div {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 5.5rem;
  text-transform: uppercase;
  text-align: left;
  color: #f9efcf;
  border-top: 4px solid #ffffff;
  flex: 1;
  margin: 7.5rem 1rem 0px;
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
.welcome-content__block h4 {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.25;
  text-transform: uppercase;
  color: #f9efcf;
}
.welcome-content__block p {
  padding-left: 1rem;
  flex: 1;
}
.welcome-content__block div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  width: 0;
  height: 4px;
  transform: translateY(-100%);
  background-color: orangered;
  transition: all 0.3s ease;
}

.welcome-content__block div:hover::before {
  opacity: 1;
  width: 30%;
}

.story {
  margin: 3rem 0;
}
.content {
  text-align: center;
}

.content__text p {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.5;
  padding-bottom: 3rem;
}
.content__text h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding-bottom: 3rem;
  position: relative;
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: all 0.3s ease;
  padding-bottom: 6rem;
}

.content__text h3::after {
  content: "";
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  opacity: 0;
  width: 0;
  height: 4px;
  background-color: orangered;
  transition: all 0.3s ease;
}
.content__text h3:hover::after {
  opacity: 1;
  width: 10.625rem;
}

.content__text p:nth-child(3) {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 3rem;
}

.story__content {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.story__content__boxes {
  position: relative;
}

.story__content__boxes__box-grad {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.story__content__boxes__box-grad p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 1.5rem;
}
.story__content__boxes__box-grad:hover {
  opacity: 1;
}

.wrapper {
  background: #95e1d3;
}
.wrapper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-content__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: solid 1px #ffffff;
  flex: 1;
}
.wrapper-content__box:last-child {
  border-right: solid 1px #ffffff;
}

.wrapper-content__box h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5;
  color: #ffffff;
  padding: 1.5rem 0;
}
.wrapper-content__box p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ffffff;
  padding-bottom: 3rem;
}
.services {
  margin: 3rem 0;
}
.services__content {
  display: flex;
  flex-direction: column;

  width: 75rem;
  padding: 0 1rem;
}
.services__content__boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.services__content__boxes__box {
  flex: 1;
  display: flex;
  padding-left: 1rem;
}

.services__content__boxes__box__box-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 1rem;
}
.services__content__boxes__box img {
  width: 70px;
  height: 70px;
}

.services__content__boxes__box__box-text h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.services__content__boxes__box__box-text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  padding: 2rem 0;
}

.disign {
  padding-top: 3rem;
  margin: 3rem 0;
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.disign__content {
  position: relative;
  text-align: center;
  margin-bottom: 3rem;
}
.disign__content img:nth-child(2) {
  background: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(100%, 20%);
}
.service {
  padding-top: 3rem;
}
.service > .content {
  display: flex;
  flex-direction: column;
}
.service__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  clear: both;
  margin-bottom: 7rem;
}
.service__content__boxes {
  margin-top: 3rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service__content__boxes__box {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  flex: 1;
  border: 2px solid rgba(198, 203, 205, 1);
  max-width: 570px;
  margin-bottom: 1rem;
}
.service__content__boxes__box:last-of-type {
  margin-bottom: 0rem;
}
.service__content p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding-left: 2.5rem;
}
.service__content img {
  padding-right: 2rem;
}
.citation {
  background: rgba(248, 248, 248, 1);
  padding: 2.625rem 0;
  margin-bottom: 3rem;
}
.citation__content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  clear: both;
}
.citation__content__box:nth-child(1) {
  padding-right: 3.625rem;
}
.citation__content__box:nth-child(2) {
}
.citation__content__box:nth-child(3) {
  padding-left: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.citation__content__box img {
  max-width: 170px;
  max-height: 170px;
}
.citation__content__box p {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.315rem;
  color: rgba(169, 175, 177, 1);
}
.citation__content__box h4 {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.5;
  margin-left: 7.875rem;
}
.citation__content__box h4::before {
  content: "";
  position: absolute;
  left: 1.875rem;
  bottom: 1rem;
  display: block;
  opacity: 0;
  width: 0;
  height: 4px;
  transform: translateY(-100%);
  background-color: orangered;
  transition: all 0.3s ease;
}
.citation__content__box h4:hover::before {
  opacity: 1;
  width: 10%;
}
.citation__content__box:nth-child(4) {
  padding-left: 3.625rem;
}
.team-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.team-text__text {
  flex: 1;
}
.team-text__text h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3;
  text-transform: uppercase;
}
.team-text__text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.team {
  background: rgba(248, 248, 248, 1);
  padding: 4.375rem 0;
}
.team__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.team__content__box {
  flex: 1;
}
.philips {
  background: none;
}
