@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/KaushanScript-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 75rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
  text-align: center;
}
a {
  text-decoration: none;
  color: currentColor;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2rem;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
}
.header__logo {
  flex: 1;
  max-width: 6.125rem;
  max-height: 1.625rem;
}
.header__burger {
  opacity: 0;
}
.header__navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}
.header__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4rem;
  margin-left: 4rem;
}
.header__navigation ul {
  flex: 1;
  display: flex;
  list-style: none;
  gap: 5rem;
}
.header__navigation li {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
}
.header__navigation li:hover {
  color: #f4bf87;
}
.header__navigation li::after {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  opacity: 0;
  width: 0;
  height: 1px;
  transition: all 0.5s ease;
  transform: translateX(-50%);
  background-color: #f4bf87;
}
.header__navigation li:hover::after {
  opacity: 1;
  width: 140%;
}
.header__buttons button {
  text-align: center;
  background: none;
  border: none;
}
@media (max-width: 64rem) {
  .header__buttons {
    gap: 3rem;
    margin-left: 3rem;
  }
  .header__navigation ul {
    gap: 4rem;
  }
  .header__navigation li {
    font-size: 0.8125rem;
  }
}
@media (max-width: 48rem) {
  .header__burger {
    flex: 1;
    max-width: 1.5rem;
    max-height: 1.125rem;
    opacity: 1;
  }
  .header__navigation {
    position: absolute;
    opacity: 0;
  }
  .header__buttons {
    position: absolute;
    opacity: 0;
  }
}
.welcome {
  background-image: url("../images/checked.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 10rem;
}
.welcome-content__text {
  position: relative;
  display: block;
  text-decoration: none;
  transition: all 0.3s ease;
}
.welcome-content__text p {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  line-height: 1.5;
}
h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-size: 7.125rem;
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 7.25rem;
}
.welcome-content__link::before {
  content: "";
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 4px;
  background-color: currentColor;
  transition: all 0.3s ease;
}
.welcome-content__link:hover::before {
  opacity: 1;
  width: 20%;
}
.welcome-content__link {
  margin-bottom: 8.25rem;
  position: relative;
  transition: all 0.3s ease;
}
.welcome-content__link a {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  border: 4px solid #ffffff;
  padding: 1rem 6rem;
  max-width: 23.063rem;
}
.welcome-content__link a:hover {
  color: #f4bf87;
  background-color: #ffffff;
}
.welcome-content__link a:focus,
.welcome-content__link a:active {
  color: #f4bf87;
  background-color: #ffffff;
  border-color: #f4bf87;
}
.welcome-content__block {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  margin-bottom: 1rem;
  color: #f9efcf;
}
.welcome-content__block div {
  padding-top: 1rem;
  color: #f9efcf;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.welcome-content__block h4 {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 2.25rem;
  line-height: 1.5;
}
.welcome-content__block p {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-align: left;
  padding-left: 1rem;
  flex: 1;
}
.welcome-content__block div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
  width: 100%;
  height: 4px;
  transform: translateY(-100%);
  background-color: #ffffff;
  transition: all 0.3s ease;
}
.welcome-content__block div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  width: 0;
  height: 4px;
  transform: translateY(-100%);
  background-color: rgba(243, 130, 129, 1);
  transition: all 0.3s ease;
}
.welcome-content__block div:hover::after {
  opacity: 1;
  width: 30%;
}
@media (max-width: 64rem) {
  .welcome {
    padding-top: 8rem;
  }
  .welcome-content__text p {
    font-size: 3rem;
  }
  h1 {
    font-size: 6rem;
    max-width: 44rem;
    margin-bottom: 4.93rem;
  }
  .welcome-content__link::before {
    top: -3.5rem;
  }
  .welcome-content__link {
    margin-bottom: 5.93rem;
  }
  .welcome-content__link a {
    font-size: 1.125rem;
    padding: 0.5rem 5rem;
    max-width: 19.8125rem;
  }
  .welcome-content__block {
    gap: 1.25rem;
    margin-bottom: 0.875rem;
  }
  .welcome-content__block div {
    padding-top: 0.875rem;
  }
  .welcome-content__block h4 {
    font-size: 1.5rem;
  }
  .welcome-content__block p {
    font-size: 0.875rem;
  }
}
@media (max-width: 48rem) {
  .welcome {
    padding-top: 8rem;
  }
  .welcome-content__text p {
    font-size: 2.25rem;
  }
  h1 {
    font-size: 3rem;
    max-width: 44rem;
    margin-bottom: 4.93rem;
  }
  .welcome-content__link::before {
    top: -3rem;
    opacity: 1;
    width: 20%;
  }
  .welcome-content__link:hover::before {
    width: 20%;
  }
  .welcome-content__link {
    margin-bottom: 3.36rem;
  }
  .welcome-content__link a {
    padding: 0.5rem 3rem;
    max-width: 17.8125rem;
  }
  .welcome-content__block {
    gap: 1.25rem;
    margin-bottom: 1rem;
  }
  .welcome-content__block div {
    padding-top: 1rem;
  }
  .welcome-content__block div::after {
    opacity: 1;
    width: 100%;
  }
  .welcome-content__block div:hover::after {
    width: 100%;
  }
  .welcome-content__block h4 {
    font-size: 0;
  }
  .welcome-content__block p {
    font-size: 0;
  }
}
.story {
  margin-top: 3rem;
}
.content__text p {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.5;
  margin-bottom: 3rem;
}
.content__text h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  position: relative;
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: all 0.3s ease;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
.content__text h3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  opacity: 0;
  width: 0;
  height: 4px;
  background-color: rgba(243, 130, 129, 1);
  transition: all 0.3s ease;
}
.content__text h3:hover::after {
  opacity: 1;
  width: 15%;
}
.content__text p:nth-child(3) {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 6rem;
}
.story__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  gap: 2rem;
}
.story__content {
  flex: 1;
}
.story__content__boxes {
  position: relative;
}
.story__content__boxes__box-grad {
  position: absolute;
  top: -1.5rem;
  left: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.story__content__boxes__box-grad img {
  max-width: 2.5rem;
  max-height: 2.5rem;
}
.story__content__boxes__box-grad p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 1.5rem;
}
.story__content__boxes__box-grad:hover {
  opacity: 1;
}
@media (max-width: 64rem) {
  .story {
    margin-top: 2rem;
  }
  .content__text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .content__text h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .content__text h3:hover::after {
    width: 20%;
  }
  .content__text p:nth-child(3) {
    font-size: 0.875rem;
    margin-bottom: 4rem;
  }
  .story__wrapper {
    margin-bottom: 2rem;
    gap: 1rem;
  }
  .story__content__boxes__box-grad {
    top: -0.75rem;
    left: -0.5rem;
  }
  .story__content__boxes__box-grad p {
    line-height: 1.5;
    margin-top: 1.25rem;
  }
  .story__content__boxes__box-grad:hover {
    opacity: 1;
  }
}
@media (max-width: 48rem) {
  .story {
    margin-top: 2rem;
  }
  .content__text p {
    margin-bottom: 2rem;
  }
  .content__text h3 {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
  .content__text h3::after {
    opacity: 1;
    width: 20%;
  }
  .content__text h3:hover::after {
    width: 20%;
  }
  .content__text p:nth-child(3) {
    margin-bottom: 4rem;
  }
  .story__wrapper {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .story__content__boxes__box-grad {
    flex-direction: row;
    gap: 2.25rem;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    height: 30%;
    opacity: 1;
  }
  .story__content__boxes__box-grad p {
    font-size: 1.5rem;
    margin-top: 1.25rem;
  }
}
.wrapper {
  margin-top: 3rem;
  background: #95e1d3;
}
.wrapper-content {
  display: flex;
  justify-content: space-between;
}
.wrapper-content__box {
  border-left: solid 1px #ffffff;
  flex: 1;
}
.wrapper-content__box:last-child {
  border-right: solid 1px #ffffff;
}

.wrapper-content__box h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.wrapper-content__box p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 3rem;
}
@media (max-width: 64rem) {
  .wrapper {
    margin-top: 0;
    background: #95e1d3;
  }
  .wrapper-content__box h4 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .wrapper-content__box p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 48rem) {
  .wrapper-content {
    flex-wrap: wrap;
    gap: 0;
  }
  .wrapper-content__box {
    border-left: none;
    flex: 1;
    flex-basis: 50%;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    padding-bottom: 0.5rem;
  }
  .wrapper-content__box:last-child {
    border-right: none;
  }
  .wrapper-content__box h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .wrapper-content__box p {
    margin-bottom: 0;
  }
}
.services {
  margin-top: 3rem;
}
.services__content__boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.services__content__boxes__box {
  flex: 1;
  display: flex;
  flex-basis: 32%;
}
.services__content__boxes__box:nth-child(-n + 3) {
  margin-bottom: 9rem;
}
.services__content__boxes__box__box-text {
  text-align: left;
}
.services__content__boxes__box img {
  max-width: 4.375rem;
  max-height: 4.375rem;
  margin-right: 2rem;
}

.services__content__boxes__box__box-text h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.services__content__boxes__box__box-text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
}
@media (max-width: 64rem) {
  .services {
    margin-top: 2rem;
  }
  .services__content__boxes {
    margin-bottom: 2rem;
  }
  .services__content__boxes__box:nth-child(-n + 3) {
    margin-bottom: 4rem;
  }
  .services__content__boxes__box img {
    margin-right: 1rem;
  }

  .services__content__boxes__box__box-text h4 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
  }
  .services__content__boxes__box__box-text p {
    font-size: 0.875rem;
  }
}
@media (max-width: 48rem) {
  .services__content__boxes {
    flex-direction: column;
    gap: 2.625rem;
  }

  .services__content__boxes__box {
    flex-basis: 100%;
  }
  .services__content__boxes__box:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.disign {
  padding-top: 3rem;
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.disign .content__text h3 {
  margin-bottom: 0;
}
.disign__content picture {
  position: relative;
  top: 3rem;
  left: 0;
}
@media (max-width: 64rem) {
  .disign {
    padding-top: 2rem;
  }
  .disign .content__text h3 {
    margin-bottom: 0;
  }
  .disign__content picture {
    top: 2.5rem;
  }
}
@media (max-width: 48rem) {
  .disign__content picture {
    top: 2rem;
  }
}
.service {
  margin-top: 3rem;
}
.service__content {
  display: flex;
  gap: 1.875rem;
  justify-content: space-between;
  margin-bottom: 6rem;
}
.service__content__boxes__box-imagen {
  flex: 1;
  flex-basis: 50%;
}
.service__content__boxes {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
  gap: 1.375rem;
}
.service__content__boxes__box-header {
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid rgba(198, 203, 205, 1);
  cursor: pointer;
}
.service__content__boxes__box-content {
  display: none;
}
.service__content__boxes__box-header img {
  max-width: 2.625rem;
  max-height: 2.625rem;
  margin-left: 1.125rem;
}
.service__content__boxes__box-header p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-left: 2.5rem;
}
@media (max-width: 64rem) {
  .service {
    margin-top: 2rem;
  }
  .service__content {
    gap: 1.25rem;
    margin-bottom: 4rem;
  }
  .service__content__boxes {
    gap: 1.165rem;
  }
  .service__content__boxes__box-header img {
    margin-left: 1rem;
  }
  .service__content__boxes__box-header p {
    font-size: 1.125rem;
    margin-left: 2.13rem;
  }
}
@media (max-width: 48rem) {
  .service__content {
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .service .content__text p:nth-child(3) {
    margin-bottom: 2rem;
  }

  .service__content__boxes {
    gap: 1.187rem;
  }
  .service__content__boxes__box-header {
    padding: 1rem 0;
  }
  .service__content__boxes__box-header img {
    margin-left: 0.96rem;
  }
  .service__content__boxes__box-header p {
    font-size: 0.875rem;
    margin-left: 2rem;
  }
}
.citation {
  background: rgba(248, 248, 248, 1);
  padding: 2.625rem 0;
}
.citation__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.citation__content__box-arrow img {
  max-width: 2.625rem;
  max-height: 2.625rem;
}
.citation__content__box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.875rem;
  margin-right: 3.625rem;
}
.citation__content__box-image img {
  max-width: 10.625rem;
  max-height: 10.625rem;
}
.citation__content__box-image {
  margin-left: 3.625rem;
}
.citation__content__box p {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: left;
  color: rgba(169, 175, 177, 1);
  margin-bottom: 1.315rem;
}
.citation__content__box h4 {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.5;
  text-align: left;
  margin-left: 7.875rem;
  position: relative;
}
.citation__content__box h4::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  opacity: 0;
  width: 0;
  height: 4px;
  transform: translate(-100%, -100%);
  background-color: rgba(243, 130, 129, 1);
  transition: all 0.3s ease;
}
.citation__content__box h4:hover::before {
  opacity: 1;
  width: 15%;
}
.citation__content__box-dots {
  display: none;
}
@media (max-width: 64rem) {
  .citation {
    padding: 1.78rem 0;
  }
  .citation__content__box {
    margin-left: 2.351rem;
  }
  .citation__content__box p {
    font-size: 1.125rem;
    margin-bottom: 0.875rem;
  }
  .citation__content__box h4 {
    font-size: 1.5rem;
    margin-left: 5.313rem;
  }
}

@media (max-width: 48rem) {
  .citation {
    padding: 1.8125rem 0;
  }
  .citation__content {
    flex-direction: column;
  }
  .citation__content__box-arrow {
    display: none;
  }
  .citation__content__box {
    margin-left: 0;
    margin-right: 0;
  }
  .citation__content__box-image {
    display: none;
  }
  .citation__content__box p {
    font-size: 0.875rem;
    margin-bottom: 1.125rem;
  }
  .citation__content__box h4 {
    font-size: 1.125rem;
    margin-left: 5.375rem;
  }
  .citation__content__box h4::before {
    transform: translateX(-110%);
    opacity: 1;
    width: 13%;
  }
  .citation__content__box h4:hover::before {
    width: 13%;
    opacity: 1;
  }
  .citation__content__box-dots {
    display: block;
    margin-top: 1.78rem;
  }
}
.our-team {
  margin-top: 3rem;
}
.story__content__boxes__box-grad__links {
  display: flex;
  justify-content: space-around;
  gap: 1px;
}
.story__content__boxes__box-grad__links img {
  max-width: 2.625rem;
  max-height: 2.625rem;
}
.story__content__boxes__box-grad__links a:nth-child(1):hover svg rect {
  fill: #f38281;
}
.story__content__boxes__box-grad__links a:nth-child(1):hover svg path {
  fill: white;
}
.story__content__boxes__box-grad__links a:nth-child(2):hover svg rect {
  fill: #f38281;
}
.story__content__boxes__box-grad__links a:nth-child(2):hover svg path {
  fill: white;
}
.story__content__boxes__box-grad__links a:nth-child(3):hover svg rect {
  fill: #f38281;
}
.story__content__boxes__box-grad__links a:nth-child(3):hover svg path {
  fill: white;
}
.story__content__boxes__box-grad__links a:nth-child(4):hover svg rect {
  fill: #f38281;
}
.story__content__boxes__box-grad__links a:nth-child(4):hover svg path {
  fill: white;
}
.story__content__text {
  flex: 1;
}
.story__content__text h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3;
  text-transform: uppercase;
}
.story__content__text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
}
@media (max-width: 64rem) {
  .our-team {
    margin-top: 2rem;
  }
  .story__content__text h4 {
    font-size: 1.125rem;
  }
  .story__content__text p {
    font-size: 0.875rem;
  }
}
@media (max-width: 48rem) {
  .our-team .story__content__boxes__box-grad {
    justify-content: flex-end;
    align-items: flex-end;
    background: none;
  }
  .story__content__text h4 {
    font-size: 1.125rem;
  }
  .story__content__text p {
    font-size: 0.875rem;
  }
}
.team {
  margin-top: 3rem;
  background: rgba(248, 248, 248, 1);
  padding: 4.375rem 0;
}
.team__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.team__content__box {
  flex: 1;
}
.team__content__box img {
  max-width: 5rem;
}
@media (max-width: 64rem) {
  .team {
    margin-top: 2rem;
    padding: 2.8rem 0;
  }
}
@media (max-width: 48rem) {
  .team {
    padding: 3.23rem 0;
  }
  .team__content {
    flex-wrap: wrap;
    gap: 2.25rem;
  }
  .team__content__box {
    flex-basis: 40%;
  }
  .team__content__box:nth-child(3) {
    flex-basis: 100%;
  }
}
.our-work {
  margin-top: 3rem;
  .content__text {
    max-width: 75rem;
    padding: 0 0.9375rem;
    text-align: center;
    margin: 0 auto;
  }
  &__content {
    margin: 3rem auto;
    text-align: center;
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "girl sahara hills city"
      "sky citybandw hills citysky";
    .story__content__boxes {
      &:nth-child(1) {
        grid-area: girl;
      }
      &:nth-child(2) {
        grid-area: sahara;
      }
      &:nth-child(3) {
        grid-area: hills;
      }
      &boxes:nth-child(4) {
        grid-area: city;
      }
      &boxes:nth-child(5) {
        grid-area: sky;
      }
      &boxes:nth-child(6) {
        grid-area: citybandw;
      }
      &boxes:nth-child(7) {
        grid-area: citysky;
      }
      &__box-grad {
        top: 0;
        left: 0;
        p {
          margin-top: 3.563rem;
        }
        img {
          max-width: 1.81rem;
          max-height: 1.81rem;
        }
        p:last-of-type {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.5;
          color: #ffffff;
          margin-top: 1.5rem;
          text-transform: none;
        }
      }
    }
  }
}
@media (max-width: 64rem) {
  .our-work {
    margin-top: 2rem;
    .our-work__content {
      margin: 2rem 0;
      .story__content__boxes {
        &__box-grad {
          p {
            font-size: 1.125rem;
            margin-top: 2.416rem;
          }
          p:last-of-type {
            font-size: 0.875rem;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
@media (max-width: 48rem) {
  .our-work {
    .content__text {
      h3 {
        &::after {
          opacity: 1;
          width: 20%;
        }
        &:hover::after {
          opacity: 1;
          width: 20%;
        }
      }
    }
    &__content {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "girl hills"
        "sky hills"
        "citysky hills"
        "city sahara"
        "citybandw citybandw";
      .story__content__boxes {
        &:nth-child(1) {
          grid-area: girl;
        }
        &:nth-child(2) {
          grid-area: sahara;
        }
        &:nth-child(3) {
          grid-area: hills;
          grid-row-start: span 3;
        }
        &boxes:nth-child(4) {
          grid-area: city;
        }
        &boxes:nth-child(5) {
          grid-area: sky;
        }
        &boxes:nth-child(6) {
          grid-area: citybandw;
        }
        &boxes:nth-child(7) {
          grid-area: citysky;
        }
        &__box-grad {
          display: none;
        }
      }
    }
  }
}
.philips {
  background: none;
}
@media (max-width: 48rem) {
  .philips .citation__content {
    flex-direction: column;
  }
  .philips .citation__content__box-image {
    display: block;
    text-align: center;
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .citation__content__box-image img {
    max-width: 7.205rem;
  }
}
.happy-clients {
  padding: 3rem 0;
  background-image: url("../images/bg-happy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.happy-clients__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 3rem;
}
.happy-clients__content__boxes {
  position: relative;
  display: flex;
  flex-basis: 46%;
  text-align: left;
}
.happy-clients__content__boxes__image {
  flex-basis: 100%;
  margin-right: 3.125rem;
}
.happy-clients__content__boxes__image img {
  max-width: 8.125rem;
}
.happy-clients__content__boxes h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  display: block;
  color: currentColor;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 0.5rem;
}
.happy-clients__content__boxes h5 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.happy-clients__content__boxes p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-transform: none;
  position: relative;
}
.happy-clients__content__boxes p::before {
  content: "";
  position: absolute;
  top: -3rem;
  display: block;
  opacity: 0;
  width: 20%;
  height: 4px;
  background-color: rgba(243, 130, 129, 1);
  transition: all 1s ease-in-out 0s;
}
.happy-clients__content__boxes p:hover::before {
  opacity: 1;
  width: 20%;
}
@media (max-width: 64rem) {
  .happy-clients {
    padding: 2rem 0;
  }
  .happy-clients__content {
    gap: 2rem;
    margin-top: 2rem;
  }

  .happy-clients__content__boxes h4 {
    font-size: 1.125rem;
  }
  .happy-clients__content__boxes h5 {
    font-size: 0.875rem;
    margin-bottom: 4rem;
  }
  .happy-clients__content__boxes p {
    font-size: 0.875rem;
  }
  .happy-clients__content__boxes p::before {
    top: -2rem;
  }
  .happy-clients__content__boxes p:hover::before {
    width: 30%;
  }
}
@media (max-width: 48rem) {
  .happy-clients__content__boxes {
    flex-direction: column;
    flex-basis: 100%;
    text-align: center;
  }
  .happy-clients__content__boxes__image {
    margin-right: 0;
  }
  .happy-clients__content__boxes h5 {
    margin-bottom: 2rem;
  }
  .happy-clients__content__boxes p::before {
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    width: 20%;
  }
  .happy-clients__content__boxes p:hover::before {
    width: 20%;
  }
}
.our-stories {
  margin: 3rem 0;
}
.our-stories__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.our-stories__content__box {
  flex-basis: 32%;
}
.our-stories__content__box__imagen {
  position: relative;
}
.our-stories__content__box__imagen__calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(149, 225, 211, 1);
  position: absolute;
  top: 60%;
  left: 0;
  transform: translateX(-15%);
  width: 31%;
  height: 31%;
  color: #fff;
}
.our-stories__content__box__imagen__calendar p:nth-child(1) {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.our-stories__content__box__imagen__calendar p:nth-child(2) {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.our-stories__content__box__text h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: left;
  margin-top: 1.875rem;
}
.our-stories__content__box__text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 1.375rem;
}
.our-stories__content__box__icons {
  display: flex;
  justify-content: flex-start;
}
.our-stories__content__box__icons div {
  display: flex;
  align-items: center;
}
.our-stories__content__box__icons img {
  max-width: 30px;
  margin-right: 1.5rem;
}
.our-stories__content__box__icons p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-right: 2rem;
}
@media (max-width: 64rem) {
  .our-stories {
    margin: 2rem 0;
  }
  .our-stories__content {
    gap: 1.125rem;
  }
  .our-stories__content__box__imagen__calendar {
    width: 25%;
    height: 25%;
    transform: translateX(-10%);
  }
  .our-stories__content__box__imagen__calendar p:nth-child(1) {
    font-size: 1.5rem;
  }
  .our-stories__content__box__imagen__calendar p:nth-child(2) {
    font-size: 0.875rem;
  }
  .our-stories__content__box__text h4 {
    font-size: 1.125rem;
    margin: 1.625rem 0;
  }
  .our-stories__content__box__text p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
  .our-stories__content__box__icons img {
    margin-right: 0.9375rem;
  }
  .our-stories__content__box__icons p {
    font-size: 0.75rem;
    margin-right: 2rem;
  }
}
@media (max-width: 48rem) {
  .our-stories__content {
    flex-direction: column;
    gap: 1.875rem;
  }
  .our-stories__content__box__imagen__calendar {
    transform: translateX(0);
  }
  .our-stories__content__box__text h4 {
    text-align: center;
  }
  .our-stories__content__box__text p {
    text-align: center;
  }
  .our-stories__content__box__icons {
    display: flex;
    justify-content: center;
  }
}
.latest-blog {
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  background-image: url("../images/bg-latest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgba(243, 130, 129, 1);
}
.content__text img {
  max-width: 2.625rem;
  max-height: 2.625rem;
  margin-bottom: 1rem;
}
@media (max-width: 64rem) {
  .latest-blog {
    padding-top: 2rem;
  }
  .content__text img {
    max-width: 1.78rem;
    max-height: 1.78rem;
  }
}
@media (max-width: 48rem) {
  .content__text img {
    max-width: 2.625rem;
    max-height: 2.625rem;
  }
}
footer {
  background-color: rgba(248, 248, 248, 1);
  padding-top: 4.75rem;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}
.footer__content__block-logo {
  flex-basis: 30%;
}
.footer__content__boxes__box-logo {
  text-align: left;
}
.footer__content__boxes__box-logo svg {
  max-width: 9.375rem;
  max-height: 2.375rem;
}
.footer__content__boxes__box-logo svg path {
  fill: rgba(198, 203, 205, 1);
}
.footer__content__boxes__box-logo p:nth-child(2) {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  color: rgba(198, 203, 205, 1);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footer__content__boxes__box-logo p:nth-child(3) {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.footer__content__boxes__box-logo span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.5;
  text-transform: none;
}
.footer__content__boxes__box-logo span span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: black;
}
.footer__content__boxes__box-links {
  padding: 1rem 0;
  position: relative;
}
.footer__content__boxes__box-links__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__content__boxes__box-links__links p {
  font-family: "Raleway";
  font-style: italic;
  font-weight: 400;
  font-size: 0.82rem;
  line-height: 1.5;
  color: rgba(198, 203, 205, 1);
}
.footer__content__boxes__box-links__links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(198, 203, 205, 1);
}
.footer__content__boxes__box-links__links div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.65rem;
}
.footer__content__boxes__box-links__links img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}
.footer__content__boxes__box-email {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(198, 203, 205, 1);
  margin-top: 1rem;
}
.footer__content__boxes__box-email__email {
  flex: 1;
  flex-basis: 40%;
}
.footer__content__boxes__box-email button {
  background: rgba(149, 225, 211, 1);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding: 0.8rem 0;
  width: 40%;
  color: #fff;
  flex: 1;
  border: none;
  cursor: pointer;
}
.footer__content__boxes__box-email button:hover {
  background: rgba(135, 210, 196, 1);
}
.footer__content__boxes__box-email button:focus,
.footer__content__boxes__box-email button:active {
  background: rgba(92, 149, 138, 1);
}
.footer__content__boxes__box-email input {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 4000;
  font-size: 1.125rem;
  line-height: 1.5;
  width: 100%;
  padding: 0.8rem 0;
  color: rgba(198, 203, 205, 1);
  border: none;
  text-align: center;
}
.footer__content__boxes__box-email input::placeholder {
  color: rgba(26, 26, 26, 0.56);
}
.footer__content__block-images {
  flex-basis: 44%;
}
.footer__content__boxes__box {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.footer__content__boxes h4 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 1.5rem;
}
.footer__content__boxes__box-blogs {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}

.footer__content__boxes__box-blogs__text {
  flex: 1;
  flex-basis: 80%;
  text-align: left;
}
.footer__content__boxes__box-blogs__text h3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.footer__content__boxes__box-blogs__text p {
  margin-top: 0.5rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.5;
  color: rgba(45, 48, 51, 1);
}
.footer__content__block-instagram {
  flex: 1;
  flex-basis: 31%;
}
.footer__content__block-instagram__instagram {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.footer__content__block-instagram__instagram img {
  border: 0.5px solid rgba(248, 248, 248, 1);
}
.footer__content__block-instagram__text p {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: rgba(45, 48, 51, 1);
  text-decoration-line: underline;
  text-align: left;
}
.copyright {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
}
.copyright::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(198, 203, 205, 1);
  transition: all 1s ease-in-out 0s;
}
@media (max-width: 64rem) {
  .footer__content {
    gap: 1rem;
  }

  .footer__content__boxes__box-logo svg {
    max-width: 5.906rem;
    max-height: 1.608rem;
  }
  .footer__content__boxes__box-logo p:nth-child(2) {
    font-size: 0.875rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  .footer__content__boxes__box-logo p:nth-child(3) {
    font-size: 0.875rem;
  }
  .footer__content__boxes__box-logo span {
    font-size: 1.5rem;
  }
  .footer__content__boxes__box-logo span span {
    font-size: 0.875rem;
  }
  .footer__content__boxes__box-links {
    padding: 0.675rem 0;
  }
  .footer__content__boxes__box-links__links p {
    font-size: 0.75rem;
  }
  .footer__content__boxes__box-links__links div {
    gap: 0.5rem;
  }
  .footer__content__boxes__box-links__links img {
    max-width: 1.015rem;
    max-height: 1.015rem;
  }
  .footer__content__boxes__box-email {
    margin-top: 0.675rem;
  }
  .footer__content__boxes__box-email button {
    font-size: 0.875rem;
    padding: 0.675rem 0;
  }
  .footer__content__boxes__box-email input {
    font-size: 0.875rem;
    padding: 0.675rem 0;
  }
  .footer__content__boxes__box-email input::placeholder {
    color: rgba(26, 26, 26, 0.56);
  }
  .footer__content__boxes__box {
    gap: 1.25rem;
  }
  .footer__content__boxes h4 {
    font-size: 1.125rem;
  }
  .footer__content__boxes__box-blogs {
    gap: 1rem;
  }
  .footer__content__boxes__box-blogs__text h3 {
    font-size: 0.875rem;
  }
  .footer__content__boxes__box-blogs__text p {
    font-size: 0.75rem;
  }
  .footer__content__block-instagram__instagram {
    margin-bottom: 1.5rem;
  }
  .footer__content__block-instagram__text p {
    font-size: 0.75rem;
  }
  .copyright {
    font-size: 0.8125rem;
    line-height: 3;
  }
}
@media (max-width: 48rem) {
  footer {
    padding-top: 3.273rem;
  }
  .footer__content {
    flex-direction: column;
  }
  .footer__content__block-logo {
    flex-basis: 100%;
  }
  .footer__content__boxes__box-logo {
    text-align: center;
  }
  .footer__content__boxes__box-logo svg {
    max-width: 5.963rem;
    max-height: 1.608rem;
  }
  .footer__content__boxes__box-email {
    display: block;
    border: none;
    margin-top: 1rem;
  }
  .footer__content__boxes__box-email__email {
    border: 1px solid rgba(198, 203, 205, 1);
    margin-bottom: 1.5rem;
  }
  .footer__content__boxes__box-email button {
    border: 1px solid rgba(198, 203, 205, 1);
    width: 100%;
  }
  .footer__content__boxes__box-email input {
    padding-left: 1rem;
    text-align: left;
  }
  .footer__content__block-images {
    flex-basis: 100%;
  }
  .footer__content__boxes h4 {
    text-align: center;
  }
  .footer__content__boxes__box {
    align-items: center;
  }
  .footer__content__boxes__box-blogs__text h3 {
    line-height: 1rem;
  }
  .footer__content__boxes__box-blogs__text p {
    line-height: 0.875rem;
  }
  .footer__content__block-instagram {
    flex-basis: 100%;
    margin: 0 auto;
  }
  .footer__content__block-instagram__text p {
    text-align: center;
  }
}
